.tracking-detail {
	padding: 3rem 0
}

#tracking {
	background-color: #ffffff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 4px 3px #ccc;
	-moz-box-shadow: 0px 4px 3px #ccc;
	box-shadow: 0px 4px 3px #ccc;
}

.tracking-list {
	background-color: #ffffff;
	border-radius: 0 0 10px 10px;
}

.tracking-item {
	border-left: 1px solid #e5e5e5;
	position: relative;
	padding: 2rem 1.5rem .5rem 2.5rem;
	font-size: .9rem;
	margin-left: 3rem;
	min-height: 5rem
}

.tracking-item:last-child {
	padding-bottom: 4rem
}

.tracking-item .tracking-date {
	margin-bottom: .5rem
}

.tracking-item .tracking-date span {
	color: #888;
	font-size: 85%;
	padding-left: .4rem
}

.tracking-item .tracking-content {
	padding: .5rem .8rem;
	background-color: #f4f4f4;
	border-radius: .5rem
}

.tracking-item .tracking-content span {
	display: block;
	color: #888;
	font-size: 85%
}

.tracking-item .tracking-icon {
	line-height: 2.6rem;
	position: absolute;
	left: -1.3rem;
	width: 2.6rem;
	height: 2.6rem;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	background-color: #fff;
	color: #e5e5e5;
}

.tracking-item .tracking-icon.status-complete {
	border: 1px solid rgba(6, 141, 180, 0.3);
	color: #068DB4;
}

.tracking-item .tracking-icon.status-active {
	border: 1px solid rgba(91, 176, 58, 0.7);
	background-color: #5bb03a;
	color: #ffffff;
	-webkit-box-shadow: 0px 0px 0px 6px rgba(91, 176, 58, 0.4);
	-moz-box-shadow: 0px 0px 0px 6px rgba(91, 176, 58, 0.4);
	box-shadow: 0px 0px 0px 6px rgba(91, 176, 58, 0.4);
}

.tracking-item.tracking-active {
	font-weight: bold !important;
}

.tracking-item .tracking-icon.status-pending {
	border: 1px solid #999999;
	color: #999999;
}

.tracking-pending .tracking-date,
.tracking-pending .tracking-date span,
.tracking-pending .tracking-content,
.tracking-pending .tracking-content span {
	color: #999999;
}